@model BugTracker.ViewModel.OverzichtBugsViewModel
@{
    ViewData["Title"] = "Dashboard";
}
           <div class="container">
               <div class="row mt-3">
                   <div class="col-md-6">
                       <h1>Bugs</h1>
                   </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary text-right" asp-action="Create">Create issue</a>
                    </div>
               </div>
           <div>
       </div>
                <div class="row mt-5">
                 <table>
                    <thead>
                        <tr> 
                            <th class="col-md-2">
                               Bugs
                            </th>
                            <th class="col-md-2">
                                Title
                            </th>
                            <th class="col-md-2">
                                Description
                            </th>
                            <th class="col-md-2">
                                Status
                            </th>
                            <th class="col-md-2">
                                Due
                            </th>
                            <th class="col-md-2">
                                Reporter
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Bugs)
                        {
                            <tr>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.BugsId)
                                </td>
                               <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.BugTitle)
                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.BugDescription)
                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.BugStatus)
                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.BugClosedOn)
                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.BugCreatedBy)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>