@model BugTracker.ViewModel.GebruikerListViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Gebruikers</h2>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table>
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].UserID)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].UserName)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].FirstName)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].LastName)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].GeboorteDatum)
            </th>
        </tr>
    </thead>
</table>

